{% block body %}
    <div >
        <div class='weatherContenerDayInfo'>
            <div class='weatherDayInfo'>
                <label>
                    Aktualna temp. <b>{{ weatherData.currentTemperature }} C</b> </br>
                    Maksymalna temp. <b>{{ weatherData.maxTemperature }} C</b> </br>
                    Minimalna temp.<b>{{ weatherData.minTemperature }}  C</b> </br>
                </label>
            </div>
        </div>
    </div>
{% endblock %}
